<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link href='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.print.css' rel='stylesheet' media='print' />



    <script src='https://unpkg.com/moment@2.24.0/min/moment.min.js'></script>

    <script src='https://unpkg.com/jquery@3.4.1/dist/jquery.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>


    <script src='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.js'></script>*@

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
