<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />

<link href='https://unpkg.com/@@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />




<link href='https://unpkg.com/@@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />

<link href='https://unpkg.com/@@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script src='https://unpkg.com/@@fullcalendar/core@4.3.1/main.min.js'></script>




<script src='https://unpkg.com/@@fullcalendar/interaction@4.3.0/main.min.js'></script>

<script src='https://unpkg.com/@@fullcalendar/daygrid@4.3.0/main.min.js'></script>

<script src='https://unpkg.com/@@fullcalendar/timegrid@4.3.0/main.min.js'></script>

<style>

    html, body {
        margin: 0;
        padding: 0;
        font-family: Calibri, Helvetica Neue, Helvetica, sans-serif;
        font-size: 18px;
    }

    #external-events {
        position: fixed;
        z-index: 2;
        top: 100px;
        left: 10px;
        width: 300px;
        /*padding: 0 10px;*/
        /*border: 1px solid #ccc;*/
        /*background: lightblue;*/
    }

    .demo-topbar + #external-events { /* will get stripped out */
        top: 60px;
    }

    #external-events .fc-event {
        margin: 1em 0;
        /*margin: 2px 2px 2px 2px;*/
        cursor: move;
        /*border: 1px solid #3a87ad;*/ /* default BORDER color */
         border: 1px solid #f8f3f3;
        background-color:#f8f3f3; /*#3a87ad;*/
        color:#000;
         /*background: #3a87ad;*/ /* default BACKGROUND color */
        /*width: 270px;*/
        /*background: #f8f3f3 ;
        color:#000;*/
    }

    #calendar-container {
        position: relative;
        z-index: 1;
        margin-left: 100px;
    }

    #calendar {
        max-width: 900px;
        margin: 20px auto;
    }


</style>

@*<div id='external-events2' class="card draggable">
        <div class="card-header">

            <strong>WORKOUT OF THE DAY</strong>

        </div>

        <div class="card-body text-primary">

            <div class="card fc-event" id="1" >
                <div class="card-body">
                    Barbell Lift<br />
                    Reps 1: Pull<br />
                    Reps 2: Push <br />
                    <i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-clone"></i>&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-remove"></i>

                </div>
            </div>

        </div>
    </div>*@


<div id='external-events' class="card">
    @*<p>
            <strong>WORKOUT OF THE DAY</strong>
        </p>*@

    <div class="card-header">

        <strong>WORKOUT OF THE DAY</strong>
        @*<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#sales2017" aria-expanded="true" aria-controls="sales2017"></button>*@

    </div>
    <div class="card-body">
        <div id="1" class='fc-event'>



            <strong>Barbell Lift</strong><br />
            Reps 1: Pull<br />
            Reps 2: Push <br />
            <i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-clone"></i>&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-remove"></i>



            @*<p class="card-text">
                    Barbell Lift<br />
                    Reps 1: Pull<br />
                    Reps 2: Push <br />
                    <i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-clone"></i>&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-remove"></i>


                </p>*@

        </div>
        <div id="2" class='fc-event'>

            <strong>Barbell Lift 2</strong><br />
            Reps 1: Pull<br />
            Reps 2: Push <br />
            <i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-clone"></i>&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-remove"></i>

        </div>

        <div id="3" class='fc-event'>

            <strong>Barbell Lift 3</strong><br />
            Reps 1: Pull<br />
            Reps 2: Push <br />
            <i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-clone"></i>&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-remove"></i>

        </div>
        <div id="4" class='fc-event'>

            <strong>Barbell Lift 4</strong><br />
            Reps 1: Pull<br />
            Reps 2: Push <br />
            <i class="fa fa-edit"></i>&nbsp;&nbsp;<i class="fa fa-clone"></i>&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;<i class="fa fa-remove"></i>

        </div>
    </div>

    <p>
        <input type='checkbox' id='drop-remove' />
        @*<label for='drop-remove'>remove after drop</label>*@
    </p>


    <button id="save-button" type="button" class="btn btn-sm btn-success save pull-right"
            onclick="saveClicked()">

        <span class="button-text">Save</span>

        <i class="fa fa-refresh fa-spin m-l-xs hidden activity-indicator"></i>

    </button>
    <br />
</div>
<br />
<div id='calendar-container'>
    <div id='calendar'></div>
</div>
<br />
<div id='calendar-container'>
    <div id='calendar2'></div>
</div>
<br />
<div id='calendar-container'>
    <div id='calendar3'></div>
</div>



<br />

<script type="text/javascript">

    $(document).ready(function () {


        // initialize the external events
        // -----------------------------------------------------------------

        $('#external-events .fc-event').each(function() {

          // store data so the calendar knows to render an event upon drop
          $(this).data('event', {
              title: $.trim($(this).text()), // use the element's text as the event title
              id: this.id,
              stick: true // maintain when user navigates (see docs on the renderEvent method)
          });

          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
          });

        });

        //alert('jamais');
        $("#calendar3").fullCalendar({
            //A name of any of the available views, such as 'dayGridWeek', 'timeGridDay', 'listWeek' .
            // put your options and callbacks here
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next,today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            editable: true,
            timezone: "UTC",
            droppable: true, // this allows things to be dropped onto the calendar




        })
    });



</script>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendarInteraction.Draggable;

        var containerEl = document.getElementById('external-events');
        var calendarE1 = document.getElementById('calendar');
        var calendarE2 = document.getElementById('calendar2');
        var checkbox = document.getElementById('drop-remove');

        // initialize the external events
        // -----------------------------------------------------------------

        new Draggable(containerEl, {
            itemSelector: '.fc-event',
            eventData: function (eventEl) {

                //alert('eventEl: ' + eventEl.toString());
                //let id2 = document.getElementById(eventEl).id;
                //alert("id: " + id2);
                return {
                    title: eventEl.innerText,
                    //id: document.getElementById(eventEl).id, //eventEl.id,
                    //title: eventEl.innerHtml
                };
            }
        });

        //  new Draggable(containerE2, {
        //    itemSelector: '.fc-event',
        //    eventData: function (eventEl) {
        //        return {
        //            title: eventEl.innerText,
        //            id: eventEl.id,
        //            //title: eventEl.innerHtml
        //        };
        //    }
        //});

        // initialize the calendar
        // -----------------------------------------------------------------
        //A name of any of the available views, such as 'dayGridWeek', 'timeGridDay', 'listWeek' .


        var calendar = new Calendar(calendarE1, {
            //plugins: ['interaction', 'dayGrid', 'timeGrid'],
            plugins: [ 'interaction', 'dayGrid' ],
            //width: 600,
             defaultView: 'dayGridWeek',

            //load events from the database
            //eventSources: [
            //    {
            //        url: "/fc-load-events",
            //        method: "POST",
            //        extraParams: {
            //            filters: JSON.stringify({})
            //        },
            //        failure: () => {
            //            // alert("There was an error while fetching FullCalendar!");
            //        },
            //    },
            //],
            header: {
                //left: 'prev,next,today',
                left: 'prev, next, today',
                center: 'title, id',
                //right: 'dayGridMonth,timeGridWeek,timeGridDay'

                right: 'dayGridDay,dayGridWeek'
                //right: 'dayGridMonth,timeGridWeek,&nbsp;&nbsp;,next'
                //right: 'month, basicWeek, basicDay'

                //right: 'month,basicWeek,basicDay, listWeek'
            },
            displayEventTime: false,
            //events: 'https://fullcalendar.io/demo-events.json',
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            eventDrop: function(info) {
                alert(info.event.title + " was dropped on " + info.event.start.toISOString());

                //if (!confirm("Are you sure about this change?")) {
                //  info.revert();
                //}
            },

            //eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
            //    if (confirm("Confirm move?")) {
            //        UpdateEvent(event.id, event.start);
            //    }
            //    else {
            //        revertFunc();
            //    }
            //},

              eventReceive: function(info) {
                alert(info.event.title + " was received"  + "n\draggedEl: " + draggedEl );

                //if (!confirm("Are you sure about this change?")) {
                //  info.revert();
                //}
            },

            eventClick: function (calEvent, jsEvent, view) {
                alert('You clicked on event id: ' + calEvent.id
                    + "\nSpecial ID: " + calEvent.someKey
                    + "\nAnd the title is: " + calEvent.title);
            },
            drop: function (info) {
                // is the "remove after drop" checkbox checked?
                if (checkbox.checked) {
                    // if so, remove the element from the "Draggable Events" list
                    info.draggedEl.parentNode.removeChild(info.draggedEl);
                }
                //alert('Workout id: ' + info.draggedE1.parentNode.id);
                //alert('dropped');
                alert('Date: ' + info.date.toString());
                //alert('Date: ' + info.date.toString() + 'n\Title: ' + info.event.title);
                alert('title: ' + info.title);
            }
        });

        calendar.render();


        //function UpdateEvent(EventID, EventStart, EventEnd) {
        //    var dataRow = {
        //        'ID': EventID,
        //        'NewEventStart': EventStart,
        //        'NewEventEnd': EventEnd
        //    }
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Home/UpdateEvent",
        //        dataType: "json",
        //        contentType: "application/json",
        //        data: JSON.stringify(dataRow)
        //    });
        //}


        var calendar2 = new Calendar(calendarE2, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            width: 600,
            header: {
                //left: 'prev,next,today',
                left: 'prev,next',
                center: 'title, id',
                //right: 'dayGridMonth,timeGridWeek,timeGridDay,next'
                //right: 'month,basicWeek,basicDay'
                right: 'month, basicWeek, basicDay'

                //right: 'month,basicWeek,basicDay, listWeek'
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function (info) {
                // is the "remove after drop" checkbox checked?
                if (checkbox.checked) {
                    // if so, remove the element from the "Draggable Events" list
                    info.draggedEl.parentNode.removeChild(info.draggedEl);
                }
            }
        });

        calendar2.render();
    });

</script>

